* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

.single-news {
  margin: auto;
}
.single-news img {
  width: 60%;
  margin: auto;
  margin: 15px;
  border-radius: 8px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination-button {
  width: 40px;
  background-color: black;
  color: white;
  margin: 4px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.spinner-border {
  margin-left: 45%;
}
